// variables

$primary-color:#2360f6;
$secondary-color:#242424;
$dark-color:#141414;
$white-color: #ffffff;
$accent-color: #d3d3d3;
$container-width:1300px;


@mixin ease-in-out{
    transition: all 1.5s ease-in-out;
}