.container {
  max-width: $container-width;
  padding: 0 1.5rem;
  margin: auto;
}

// padding
.py{
  &-1{
    padding: 1rem 0;
  }
  &-2{
    padding: 2rem 0;
  }
  &-3{
    padding: 3rem 0;
  }
  &-4{
    padding: 4rem 0;
  }
}


.px{
  &-1{
    padding: 0 1rem;
  }
  &-2{
    padding: 0 2rem;
  }
  &-3{
    padding: 0 3rem;
  }
  &-4{
    padding:0 4rem;
  }
}

// padding



// margin
.my{
  &-1{
    margin: 1rem 0;
  }
  &-2{
    margin: 2rem 0;
  }
  &-3{
    margin: 3rem 0;
  }
  &-4{
    margin: 4rem 0;
  }
}


.mx{
  &-1{
    margin: 0 1rem;
  }
  &-2{
    margin: 0 2rem;
  }
  &-3{
    margin: 0 3rem;
  }
  &-4{
    margin:0 4rem;
  }
}

// margin


// background
.bg{
  &-dark{
    background-color: $dark-color;
  }
  &-light{
    background-color: $white-color;
  }
  &-secondary{
    background-color: $secondary-color;
  }
  &-primary{
    background-color: $primary-color;
  }
  &-accent{
    background-color: $accent-color;
  }
}


.txt{
  &-dark{
    color: $dark-color;
  }
  &-light{
    color: $white-color;
  }
  &-secondary{
    color: $secondary-color;
  }
  &-primary{
    color: $primary-color;
  }
  &-accent{
    color: $accent-color;
  }
}



// buttons

%btn-shared {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 9999px;
  color: $white-color;
  font-size: 1.2rem;
  @include ease-in-out;
}

.btn {
  &-outline {
    @extend %btn-shared;
    border: 2px solid $secondary-color;
    width: 100%;
    background: none;
    color: $accent-color;

    &:hover {
      border-color: $primary-color;
      background-color: $primary-color;
      color: $white-color;
    }
  }

  &-light {
    @extend %btn-shared;
    background: $white-color;
    color: $secondary-color;

    &:hover {
      border: none;
      color: $white-color;
      background-color: $primary-color;
    }
  }

  &-primary {
    @extend %btn-shared;
    background: $primary-color;
    color: $white-color;

    &:hover {
      border: none;
      color: $secondary-color;
      background-color: $white-color;
    }
  }
}

.text-center {
  text-align: center;
}

// .lead{
//   font-size: 1.4rem;
//   margin-bottom: .6rem;
// }

.article-title {
  font-size: 1.5rem;
  color: $dark-color;
  margin: 18px 0;
}

.article-message {
  color: $accent-color;
  margin-bottom: 15px;
}

.user-info {
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white-color;
      padding: 0.5rem 1rem;
      padding-left: 0.4rem;
      border-radius: 9999px;
      gap: 1rem;

      .user-img {
        width: 40px;
        border-radius: 50%;
      }

      .username {
        font-size: 1.2rem;
        color: $secondary-color;
      }
    }
  }
}
