@import "config";
@import "utilities";
@import "form";

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.logo {
  font-size: 1.6rem;
  text-transform: uppercase;
}

// header

header {
  .nav-bar {
    padding-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .step-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .write {
        font-size: 1rem;
      }

      .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .nav-item {
          .nav-link {
            color: $white-color;
            font-size: 1.2rem;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }

          &:last-child {
            @include ease-in-out;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    .step-2 {
      .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;

        .nav-item {
          .nav-link {
            font-size: 1.2rem;
            color: $accent-color;
            @include ease-in-out;
            transition-property: color;
            &:hover {
              color: $white-color;
            }

            &.current {
              color: $white-color;
            }
          }
        }
      }
    }
  }

  .blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white-color;

    .blog-txt {
      max-width: 700px;

      h2 {
        font-size: 2rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .blog-social {
      align-self: start;

      a {
        font-size: 1.2rem;
        margin-right: 6px;
        color: #ff0000;
        border-radius: 50%;
        padding: 0.5rem;
        display: inline-flex;
        @include ease-in-out;

        &:first-child {
          color: #1da1f2;
        }

        &:hover {
          transform: scale(0.8);
        }
      }
    }
  }

  .blog-search-category {
    display: flex;
    align-items: center;
    gap: 1rem;

    .input-wrapper {
      flex-grow: 1;
      position: relative;

      .search-icon {
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
      }
    }

    .category-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.7rem;

      .category-item {
        .category-link {
          display: inline-block;
          padding: 0.5rem 0.7rem;
          border: none;
          cursor: pointer;
          outline: none;
          border-radius: 99999px;
          font-size: 1.2rem;
          color: $white-color;
          color: $accent-color;
          @include ease-in-out;

          &:hover {
            background-color: $primary-color;

            color: $white-color;
          }

          &.current {
            background-color: $primary-color;
            color: $white-color;
          }
        }
      }
    }
  }
}

#home {
  // Home section A

  &-a {
    padding-bottom: 1rem;

    .carousel-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    #article-swiper {
      .swiper-pagination {
        bottom: -2.2rem;
      }

      .swiper-pagination-bullet {
        background-color: $accent-color;
        width: 0.8rem;
        height: 0.8rem;
        margin: 0 0.4rem;
      }

      .swiper-pagination-bullet-active {
        background-color: $white-color;
      }

      .swiper-slide {
        .user-info {
          z-index: 10;
          top: 10%;
        }

        .caro-title-message {
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          top: 30%;
          z-index: 10;
          .article-message {
            color: $dark-color;

            a {
              text-decoration: underline;
              margin-left: 0.3rem;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba($accent-color, 0.9);
          overflow: hidden;
          border-radius: 0.4rem;
        }
      }

      .swiper-slide .article-img {
        border-radius: 0.4rem;
        display: block;
        width: 100%;
        height: 30rem;
        object-fit: cover;
      }
    }
  }

  // Home section B

  &-b {
    .article-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.3rem;
    }
  }

  // Home section c

  &-c {
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      button {
        width: fit-content;
        border-radius: 0.4rem;
      }

      .pagination-list {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .pagination-item {
          .pagination-link {
            color: $accent-color;
            padding: 0.5rem 0.8rem;
            width: fit-content;
            border-radius: 0.4rem;
            border: 2px solid $secondary-color;
            @include ease-in-out;

            &:hover {
              border-color: $white-color;
              color: $white-color;
            }

            &.current {
              color: $white-color;
              border-color: $white-color;
            }
          }
        }
      }
    }
  }
}

#article {
  &-a {
    .article {
      .img-wrapper {
        position: relative;
        width: 100%;

        .user-info {
          position: absolute;
          top: 10%;
          right: 0;
          left: 0;
        }

        .article-img {
          width: 100%;
          height: 33rem;
          border-radius: 0.5rem;
        }
      }

      .date-categories {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;

        .category-list {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }

  &-b {
    h1 {
      span {
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.6rem;
        height: 1.6rem;
        padding: 0.9rem;
      }
    }
    .comment {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .user-img {
        align-self: flex-start;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .inner {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        h3 {
          margin: 0;
        }
      }

      .date-reply {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .comment-form{
      border-radius: 0.4rem;

      .user-img-comment-field {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        .user-img {
          align-self: flex-start;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        textarea {
          flex-grow: 1;
          border-radius: 0.4rem;
          resize: none;
          min-height: 200px;
          color: $white-color;

          &:focus{
            transform: scale(0.9);
          }
        }
      }

      .btn-wrapper {
        text-align: end;

        button {
          width: fit-content;
        }
      }
    }
  }
}

footer {
  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-list {
      display: flex;
      align-items: center;
      gap: 1rem;

      .nav-item {
        .nav-link {
          color: $white-color;
          font-size: 1.2rem;
          @include ease-in-out;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

@import "responsiveness";
